.pad-5px {
  padding: 5px;
}

.firma {
  position: fixed;
  bottom: 20px;
  right: 20px;

  a {
    color: white;
    text-decoration: none;
  }
}

.custom-button {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;

  user-select: none;

  &:hover {
    filter: brightness(1.3);
  }

  &:active {
    filter: brightness(0.9);
  }
}

@keyframes win {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.container-center {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}